.login-div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
  margin: 50px auto;
}

.login-div form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* .signup-div form > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .signup-div form > div div {
    display: flex;
    gap: 20px;
  } */
