@import "./assets/css/reset.css";
@import "./assets/css/common.css";
@import "./assets/css/signup.css";
@import "./assets/css/login.css";

/* COMMON */
/* COMMON */

/* HEADER */
/* HEADER */

header > div {
  gap: 60px;
  padding: 15px 0;
}
header > div > div:nth-child(3) {
  gap: 20px;
}
header button {
  font-size: 12px;
}
header img {
  width: 100px;
}
header input {
  width: 550px;
  height: 45px;
  font-size: 14px;
}
header button {
  width: 125px;
  height: 30px;
}

/* HOME PAGE */
/* HOME PAGE */

.homepage {
  padding-bottom: 30px;
}
/* HERO */
/* HERO */

.hero {
  margin-bottom: 30px;
}
.hero .container {
  padding-top: 75px;
  height: 460px;
}
.hero .container > div:first-child {
  width: 410px;
  height: 270px;
  padding: 60px 0 50px 25px;
}
.hero p {
  font-size: 34px;
  line-height: 40px;
}
.hero button {
  width: 200px;
  height: 45px;
  font-size: 16px;
}
.hero img {
  height: 460px;
  width: 100vw;
}

/* ALL OFFERS DIV */
/* ALL OFFERS DIV */

.offers-div {
  gap: 10px;
}
.home-offer-div > div:first-child {
  padding: 10px 0 10px 10px;
  gap: 10px;
}
.home-offer-div > div:first-child img {
  height: 20px;
  border-radius: 50%;
}
.home-offer-div > div:first-child span {
  font-size: 12px;
}
.home-offer-div > div:nth-child(2) img {
  height: 360px;
  width: 235px;
}
.offer-link div {
  padding: 10px;
  gap: 5px;
}
.offer-link p:first-of-type {
  font-size: 14px;
}
.offer-link p:not(:first-of-type) {
  font-size: 12px;
}

/* ONE OFFER PAGE */
/* ONE OFFER PAGE */

.offer-page {
  height: 800px;
  padding-top: 30px;
}
.offer-div {
  height: 600px;
}
.offer-div > div:nth-child(2) {
  width: 400px;
  padding: 40px;
}
.offer-div > div:nth-child(2) > p {
  font-size: 22px;
  padding-bottom: 30px;
}
.offer-div .details-div {
  font-size: 13px;
  padding-bottom: 30px;
}
.offer-div div:first-child img {
  height: 600px;
  width: 450px;
}
.offer-div div:nth-child(2) img {
  height: 50px;
}
.description-div {
  gap: 20px;
  padding-top: 30px;
  padding-bottom: 40px;
}
.description-div p {
  font-size: 15px;
  line-height: 20px;
}
.description-div > div {
  gap: 10px;
}
.offer-div button {
  width: 320px;
  height: 35px;
  font-size: 15px;
}

/* FOOTER */
/* FOOTER */

footer {
  padding: 30px 0;
}
footer div {
  font-size: 14px;
  width: 600px;
}
footer img {
  height: 25px;
}
footer .fa-github {
  font-size: 25px;
}
footer .fa-linkedin {
  font-size: 25px;
  color: #0b65c2;
}
